<div class="footer-container">
    <div class="footer-link">
        <a href="../../../assets/catalogo_royopack.pdf" target="_blank"> Descargar catálogo </a>
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="28" height="28" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply"/>
            <path d="M8.75 22.75V21H19.7663L5.25 6.48375L6.48375 5.25L21 19.7663V8.75H22.75V22.75H8.75Z" fill="#F5F5F5"/>
        </svg>
    </div>
</div>
